.Explore {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.Business:hover{
    box-shadow:   rgba(33, 31, 109, 0.5) 0px 8px 8px;
    transform: scale(1.01);
}
.Reviews {
    text-align: left;
}

.Reviews-Info {
    padding-top: 20px;
}

.Contact {
    text-align: right;
    padding-right: 80px;
}
.Contact-Info {
    padding-top: 20px;
}
.collapse-text {
    text-align:left;
    padding-left: 20px;
}
.collapse-info {
    text-align: left;
    padding-left: 50px;
}
.helpful {
    text-align: right;
    padding-right: 20px;
}